{% extends 'base.html.twig' %}

{% block title %}New Prompt{% endblock %}

{% block body %}
    <h1>Create new Prompt</h1>

    {{ include('prompt/_form.html.twig') }}

    <a href="{{ path('app_prompt_index') }}">back to list</a>
{% endblock %}
